*{
    margin: 0;
    box-sizing: border-box;
}

h2{
    margin-bottom: 10px;
    color: #555555;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8df;
}

#card-container{
    background: #f9f9f9;
    width: 300px;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #b1b19b69;
}

#card-hero{
    width: 100%;
    height: 240px;
    background: #a0d8d8;
    margin-bottom: 20px;
    border-radius: 10px;
}

#priceTag{
    color: #84b053;
    font-size: 0.9em;
}

#descTag{
    margin: 10px 0;
    font-family: 'Dosis', sans-serif;;
    color: #5f5f5f;
    line-height: 1.4em;
}