:root{
    --frameGutter:  86px;
    --frameWidth: calc(-428 - var(--frameGutter));
}

*{
    margin: 0;
    box-sizing: border-box;
}

h2{
    margin-bottom: 10px;
    color: #555555;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8df;
}

#card-container{
    background: #f9f9f9;
    width: 300px;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #b1b19b69;
}

#card-hero{
    width: 100%;
    height: 240px;
    background: #c6e9e9;
    background-image: url(assets/spriteer.png);
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    background-position: -86px 0;
}

.slidey{
    animation-name: slideXY;
    animation-duration: 0.7s;
    animation-timing-function: steps(1, jump-start);
    animation-iteration-count: infinite;
}

#priceTag{
    color: #84b053;
    font-size: 0.9em;
}

#descTag{
    margin: 10px 0;
    font-family: 'Dosis', sans-serif;;
    color: #5f5f5f;
    line-height: 1.4em;
}

@keyframes slideXY {
    0% {background-position: 1*var(--frameWidth)px 0;}
    9% {background-position: 2*var(--frameWidth)px 0;}
    18% {background-position: 3*var(--frameWidth)px 0;}
    27% {background-position: 4*var(--frameWidth)px 0;}
    36% {background-position: 5*var(--frameWidth)px 0;}
    45% {background-position: 6*var(--frameWidth)px 0;}
    54% {background-position: 7*var(--frameWidth)px 0;}
    65% {background-position: 8*var(--frameWidth)px 0;}
    73% {background-position: 9*var(--frameWidth)px 0;}
    81% {background-position: 10*var(--frameWidth)px 0;}
    90% {background-position: 11*var(--frameWidth)px 0;}
    100% {background-position: 12*var(--frameWidth)px 0;}
}